<!DOCTYPE html>
<meta charset="utf-8">
<%= include_gon %>

<style>

body {
    position: fixed;
}

#username{
float:right;
padding-top: 2px;
padding-right: 4px;
}

.chart {
  background-color: #efefef;
}
.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 11px sans-serif;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#PulseAreaDetail{
width:100px;
height:100px;

}

#instructions{
color: gray;
font-family: sans-serif;
}

#accordion{
  overflow: scroll;
}

.entireDiffArea{
padding-top:10px;
padding-right:14px;
margin-top: 10px;

}

.diffTitle{
  border: 2px solid #ddd;
/*background: white url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;*/
font-weight: normal;
color: #212121;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
display: block;
cursor: pointer;
position: relative;
margin: 2px 0px 0px 0px;
padding: .3em .3em 0em .3em;
min-height: 0;
/* support: IE7; */
font-size: 100%;
font-weight: bold;
float:left;
margin-bottom: -1px;
width:99%;
}

.diffArea{
  border: 2px solid #ddd;

font-weight: normal;
color: #212121;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
display: block;
cursor: pointer;
position: relative;
margin: -1px 0 0 0;
padding: .3em .3em .1em .3em;
min-height: 0;

font-size: 100%;
font-weight: bold;
float:left;
margin-bottom: 5px;
width:99%;
/*height: auto;*/
/*overflow: scroll;*/
}

.CodeMirror{
  width:100%;
  /*background: white url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;*/
   border: 2px solid #888888;
   border-top-right-radius: 4px;
border-top-left-radius: 4px;
/*display: inline;*/
  border: 1px solid #eee;
  height: 400px;

}

.nextKata{
  width: 20%;
}
</style>

<div id="header">
<h3>
<!-- <div id="nextKata">NO CANDIDATE FOUND</div>
<div id="username">
Researcher: <%= params[:researcher] %> -->
<!-- </div> -->
</h3>

<!-- <h3>CyberDojo Id: <%= params[:id] %>
Avatar: <%= params[:avatar] %>
Kata Name: <%= params[:kataName] %>
</h3>
 -->

<body>
<!-- <div id="instructions">'a' - mark red cycle : 's' - mark as green cycle : 'd' - mark as blue cycle : 'f' mark as white cycle : 'g' mark as brown cycle<br>
left and right arrow - move entire brush left and right <br>
shift + arrow - grow that side : alt (option) + arrow - shrink that side<br>
x - delete all cycles under brush<br>
</div> -->

<div id="viz"></div>
<svg class="chart"></svg>
</div>
<div id="accordion">
</div>

<script>

// initializeKeyBindings();

// var data = gon.compiles;
// var phaseData = gon.phases;
// console.log(phaseData);
// compiles = gon.compiles;
// cycles = gon.cycles;
// username = "<%= params[:researcher] %>";

// pageSetup();


function populateAccordion(data) {

var commonFiles = data;
  var uniqueStart = [];
  var uniqueEnd = [];
  

  $('#accordion').html("");


  //Add unique end files
  // data.forEach(
  //   function(element, index) {
  //     var str1 = "";
  //     var str2 = data[element];
  //     addTitleAndDiffCode(str1, str2, element);
  //   })

  // data.forEach(function(element, index) {
  //     var str1 = "";
  //     var str2 = data[element];
  //     // addTitleAndDiffCode(str1, str2, element);
  //   });

jQuery.each(data, function(i, val) {
  // $("#" + i).append(document.createTextNode(" - " + val));
  console.log(i);
  console.log(val);

addTitleAndDiffCode(val, val, i);

});



  $("#accordion").height($(window).height() - $("#header").height() - 20);
}

function collapse(e) {
  $("#compare_" + e.currentTarget.id).css("display", "none");
  $("#" + e.currentTarget.id).click(expand);
}

function expand(e) {
  $("#compare_" + e.currentTarget.id).css("display", "inline");
  $("#" + e.currentTarget.id).click(collapse);
}

function addTitleAndDiffCode(str1, str2, element) {

  var safeName = element.replace('.', '');

  var newDiv = "<div class='entireDiffArea'><div class='diffTitle' id='" + safeName + "'>" + element + "<\/div><div class='diffArea'><div id='compare_" + safeName + "' class='CodeMirror'></div></div></div></div></div>";
  $('#accordion').append(newDiv);


// var myCodeMirror = CodeMirror(function(elt) {
//   document.getElementById('compare_' + safeName).parentNode.replaceChild(elt, document.getElementById('compare_' + safeName));
// }, {value: str1,lineNumbers: true});

if(element.indexOf("test") > -1){
     $("#" + safeName).click(collapse);
}else{
    $("#compare_" + safeName).css("display", "none");
     $("#" + safeName).addClass("collapsed");
     $("#" + safeName).click(expand);

 
}

  


// var myCodeMirror = CodeMirror(function(elt) {
//   myTextArea.parentNode.replaceChild(elt, myTextArea);
// }, {value: myTextArea.value});




  // $('#compare_' + safeName)
  //   .mergely({
  //     // width: ($(window).width/2),
  //     // height: 500,
  //     width: $(window).width() - ($(window).width() * 0.05),
  //     autoresize: true,
  //     sidebar: false,
  //     cmsettings: {
  //       readOnly: true,
  //       lineNumbers: true,
  //       mode: "text/x-java"
  //     },
  //     lhs: function(setValue) {
  //       setValue(str1);
  //     },
  //     rhs: function(setValue) {
  //       setValue(str2);
  //     }
  //   });
  // var diffLength = $('#compare_' + safeName).mergely('diff').split(/\r\n|\r|\n/).length;
  // if (diffLength == 1) {
  //   $("#compare_" + safeName).css("display", "none");
  //   $("#" + safeName).addClass("collapsed");
  //   $("#" + safeName).click(expand);
  // } else {
  //   $("#" + safeName).click(collapse);
  // }

  $('#' + safeName).html(element);

  // $('#compare_' + safeName).mergely('resize')
}



populateAccordion(gon.allFiles);
// drawUncatagorizedKata();
// addAllPrexistingMarkup(gon.allMarkups[username]);

// addNextRecordLink();

</script>
